.graph-card {
  width: 500px;
}

.temperature-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.temperature-dot {
  fill: steelblue;
}

.humidity-line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.humidity-dot {
  fill: red;
}
